<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="top-nav-wrap">
          <ul>
            <li
              [routerLink]="[{outlets: {primary: 'home', aux1: 'chat'}}]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Чат
            </li>
            <li [routerLink]="[{outlets: {primary: ['products'], aux1: null}}]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Продукты
            </li>
            <li [routerLink]="['signup']" routerLinkActive="active">Регистрация</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="header-wrap">
      <div class="row">
        <div class="col-lg-3">
          <div class="logo">
            <img [src]="_logo" alt="logo">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="search">
            <input class="search__input"
              placeholder="Более 1000 товаров"
              type="text"
              (input)="search($event)"
            >
            <button class="search__button"><i class="fas fa-search"></i>
            </button>
          </div>
        </div>
        <div class="col-lg-3 d-flex justify-content-end my-blue-theme">
          <course-cart></course-cart>
        </div>
      </div>
    </div>
  </div>
</header>

